body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}


header {
    background-color: #253127;
    color: #e2e2e2;
    padding: 10px 0;
}

header h1 {
    margin: 0;
    font-size: 2em;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;/* Estilos do rodapé */
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
}


.produtos {
    padding: 40px 0;
    background-color: #fff;
}

.produto {
    background-color: #f9f9f9;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.produto img {
    width: 50%;
    border-radius: 5px;
}

.produto h3 {
    margin-top: 10px;
    font-size: 1.5em;
}

.produto p {
    margin-top: 10px;
}

.produto .preco {
    display: block;
    font-size: 1.2em;
    margin-top: 10px;
}

.produto .botao {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
}

.produto .botao:hover {
    background-color: #555;
}


footer {
    background-color: #333;
    color: #fff;
    padding: 30px 0;
    text-align: center;
}

footer p {
    margin: 0;
    font-size: 0.9em;
}

